@use 'abstracts' as *;
@use 'components/textstyles.scss';
@use 'components/card';
@use 'components/header';
@use 'components/form';
@use 'components/buttons';
@use 'components/comments';

@use 'components/alert';

@use 'components/messages';



body{
    background-color: $blue--bg;
}
section{
    padding-left: 80px;
    padding-right: 80px;
    &:not(:last-of-type){
        padding-bottom: 40px;
    }
    &:not(:first-of-type){
        padding-top: 40px;
    }
}

h1{
    margin-left:5%;
}

.mcenter{
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

.blue--20{
    color: #A2ABD6;
}

.blue--20--owner {
    color: #A2ABD6;
    padding-right: 15px;
    padding-top: 0px;
}

.blue--20--favourite {
    color: #A2ABD6;
    padding-right: 15px;
    margin-top: -3px;
    margin-left: 14px;
}

.bg--2{
    background-color: $blue--bg2;
}
.flex{
    display: flex;
}

.flex--spbet{
    display: flex;
    justify-content: space-between;
}

.flex--button {
    display: flex;
    justify-content: space-between;
}

.flex--start{
    justify-content: flex-start;
}
.flex--alcen{
    align-items: center;
}
.flex--gap40{
    gap: 40px;
}
.flex--col{
    flex-direction: column;
}

.marginb-48{
    margin-bottom: 48px;
}
.marginr-48{
    margin-right: 48px;
}
.margint-48{
    margin-top: 48px;
}
.marginb-24{
    margin-bottom: 24px;
}
.marginr-24{
    margin-right: 24px;
}
.margint-24{
    margin-top: 24px;
}
.marginl-24{
    margin-left: 24px;
}
.marginb-12{
    margin-bottom: 12px;
}
.marginr-12{
    margin-right: 12px;
}
.marginl-12{
    margin-left: 12px;
}
.margint-12{
    margin-top: 12px;
}

.pad-5perc{
    padding: 3%;
}