@use 'abstracts' as *;
@use 'components/textstyles.scss';
@use 'components/card';
@use 'components/header';
@use 'components/form';
@use 'components/buttons';

body{
    background-color: $blue--bg;
}
section{
    padding-left: 80px;
    padding-right: 80px;
    &:not(:last-of-type){
        padding-bottom: 40px;
    }
}

.mcenter{
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}