@use '../abstracts' as *;

.btn__container{
    display:flex;
    justify-content: center;
}

.btn{
    align-items: center;
    border-radius: 10px;
    height: 30px;  
    padding: 8px 10px;
}

.btn--blue{
    background-color: $blue;
    color: $white;
}

.btn--h40{
    height: 40px;
}

.btn--1col, .btn--155{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    border-radius: 8px;
}

.btn--50perc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 60px;
    width: 50%;
}

.btn--155{
    width: 155px;
}

.btn--signedin{
    background-image: url(../../../public/assets/icons/icon_user--white.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-x: 12px;
    background-position-y: center;
    padding-left: 40px;
    padding-right: 10px;
    border: 2pt solid $blue;
    transition: 0s;
}
.btn--signedin:hover{
    background-image: url(../../../public/assets/icons/icon_user--blue.svg);
    color: $blue;
    box-sizing: border-box;
    background-color: $white;
    border: 2pt solid $blue;
}

.btn--destroy--plain{
    margin-top: 20px;
    background-color: inherit;
    color: $danger;
}

.btn--light{
    background-color: $grey--light;
    color: $black;
    // border-radius: 20px;
    // margin-top:5%;
    border:none;
}

.btn--light:hover{
    border: 2pt solid $white;
    background-color: $blue;
    color:$white;
}

.btn--search{
    width: 8em;
    position: absolute;
    left: 42em;
    top: 3em;
}

.btn--favourite, .btn--favourite--true{
    width: 24px;
    height: 22px;
    background-image: url(../../../public/assets/icons/icon_heart.svg);
    background-repeat: no-repeat;
}
.btn--favourite--true{
    background-image: url(../../../public/assets/icons/icon_heart-filled.svg);
}
.btn--favourite--small{
    height: 20px;
}

.btn--view{
    height: 16px;
    width: 22px;
    background-image: url(../../../public/assets/icons/icon_eye.svg);
    background-repeat: no-repeat;
}
.btn--nftcount{
    width: 36px;
    height: 24px;
    position: relative;
    background-image: url(../../../public/assets/icons/icon__nftcount.svg);
    span{
        width: 24px;
        text-align: center;
        font-size: 15px;
        color: $white;
        position: absolute;
        top: 4px;
        left: 13px;
    }
}

.btn--center {
    font-weight: 600;
    // display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    border-radius: 8px;
    border: 2px solid $blue--20;
}

.btn--red{
    background-color: red;
    color: $white;
}

.btn--green{
    background-color: green;
    color: $white;
}

.btn--login{
    background-color: $grey--light;
    
    border-radius: 20px;
    margin-top:5%;
    border:none;
    color: $blue;
    width:40%;
    font-weight: bold;
}

.btn--login:hover{
    background-color: $blue;
    color: $grey--light;
    border: 2px solid $grey--light;
}

.btn--mint{
    background-color: rgb(247, 181, 82);
    color: white;
    border: 2px solid rgb(247, 181, 82);
    font-family: 'Work Sans', sans-serif;
    width: 155px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    padding: 6px 8px;
}

#sellBtn {
    width: 155px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 10px;
}

