@use '../abstracts' as *;

header{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .searchbar{
    margin-top: auto;
    margin-bottom: auto;
}

header nav{
    flex-grow: 1;
}
nav{
    display: flex;
    justify-content: end;
    align-items: center;
    
    a:not(:last-child){ //every a-tag but the last one
        margin-right: 59px;
    }
}


.search{
    display: flex;
    flex-direction: row;
}




select{
    background-color: #162C99;
    color: white;
    border-radius: 6px;
    height: 35px;
    border: none;
    margin-left: 3em;
    padding: 0.5em;
}



.typeahead{
    background-color: #fff;
    width: 400px;
    display: block;
    margin-left: 9em;
}

.typeahead li{
    padding: 5px;
}

.typeahead li.active{
    background-color: #eee;
}

