/* ---------- RESET.CSS ----------*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*20=33, 40=66, 60=99, 80=cc*/
/*25=40, 50=80, 75=bf*/
/*25=40, 50=80, 75=bf*/
/*---------- NEUTRAL COLORS ----------*/
body {
  font-family: "Work Sans", sans-serif;
}

*::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
}

*:-ms-input-placeholder {
  font-family: "Work Sans", sans-serif;
}

*::placeholder {
  font-family: "Work Sans", sans-serif;
}

.test {
  color: #162C99;
  margin-left: 25px;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 46px;
  margin-bottom: 24px;
}

h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 30, 5px;
  margin-bottom: 5px;
}

.body--normal {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.body--tiny {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.black--60 {
  color: #00000099;
}

.ta_l {
  text-align: left;
}

.ta_c {
  text-align: center;
}

.ta_r {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.hr {
  display: block;
  border-bottom: 1px solid #898C8C;
}

.cardgallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.card--3col {
  position: relative;
  width: 290px;
  height: 396px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.card--profile {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card--edit {
  width: 840px;
  height: 610px;
}

.card__title {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #00000099;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-bottom: 24px;
}

.card__image {
  width: 100%;
  height: 142px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__image--large {
  height: 200px;
}

.card__specs {
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-end;
}

.card__price {
  display: inline-block;
  margin-top: 6px;
}

.card__profilepicture {
  border-radius: 20px;
  width: 120px;
  width: 120px;
  border: 7px solid #f7F7F9;
  margin-bottom: 24px;
}

.card__profilepicture--small {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #FFFFFF;
  box-sizing: content-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
}

.card__description {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 122px;
}

.card__biography {
  color: #00000099;
  width: 260px;
  margin-top: 12px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ececec;
}

.card--profile__totals {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 1;
}

.userCollections, .usernfts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/2;
  width: 130px;
}

.usernfts {
  grid-column: 2/3;
  border-left: 2px solid #ececec;
}

header {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header .searchbar {
  margin-top: auto;
  margin-bottom: auto;
}

header nav {
  flex-grow: 100%;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
nav a:not(:last-child) {
  margin-right: 59px;
}

.search {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.search button {
  margin-left: 10px;
  width: 40px;
  border: none;
}

.typeahead {
  background-color: #fff;
  width: 300px;
  display: block;
  margin-left: 8.5em;
}

.typeahead li {
  padding: 5px;
}

.typeahead li.active {
  background-color: #eee;
}

.searchbar {
  width: 300px;
  height: 40px;
  display: inline-block;
  border-radius: 8px;
  border: none;
  background-color: #ECF1F2;
  background-image: url(/images/icon_search.svg?b3a9d258804afe7dcbff9bc726b9af11);
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: center;
  padding-left: 20px;
}

.form__control {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 6px;
  margin-bottom: 17px;
  height: 44px;
  width: 375px;
  border-radius: 5px;
  border: 3px #162C9933 solid;
  text-indent: 15px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.form__control--smaller input {
  width: 120px;
}

.form__control--small input {
  width: 245px;
}

.form__control--double {
  display: flex;
  justify-content: space-between;
}

.twocol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.form__container {
  background-color: #162C99;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 75px;
}

.input--light {
  border-radius: 20px;
  margin-bottom: 5%;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.form__img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.form-group {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: auto;
  width: 50%;
}
.form-group__title {
  font-weight: 900;
  font-size: 26px;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.form-group__input {
  background-color: #ffffff !important;
  border-radius: 5px;
  border: 3px #162C9933 solid;
}
.form-group__input--image::before {
  content: url("http://localhost/images/image-upload.png");
  display: flex;
  padding-left: 5.5em;
  padding-bottom: 5px;
}
.form-group__input--image {
  height: 100px;
  color: #162C99cc;
  font-weight: 600;
  padding: 0.5em;
  padding-left: 6em;
  font-size: 14px;
}
.form-group__input--image::after {
  content: "PNG, JPG or GIF (max. 800 x 400 px)";
  display: flex;
  color: #00000066;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-left: -20px;
  font-size: 12px;
}

header select, select {
  background-color: #f9fafd;
  border: 1px solid black;
  color: #000000;
  border-radius: 6px;
  height: 35px;
  border: none;
  margin-left: 2em;
  padding: 0.5em;
  text-align: right;
}

select {
  background-color: #ffffff;
  color: #162C9966;
}

#editNftForm {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin: 0;
}

#filter {
  margin-left: 0;
  margin-bottom: 4em;
}

@media screen and (min-width: 400px) {
  .form-group {
    width: 100%;
  }
}
@media screen and (min-width: 600px) {
  .form-group {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .form-group {
    width: 35%;
  }
}
.btn {
  align-items: center;
  border-radius: 10px;
  height: 30px;
  padding: 8px 10px;
}

.btn--blue {
  background-color: #162C99;
  color: #ffffff;
}

.btn--h40 {
  height: 40px;
}

.btn--1col, .btn--155 {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  border-radius: 8px;
}

.btn--155 {
  width: 155px;
}

.btn--signedin {
  background-image: url(/images/icon_user--white.svg?0ceb83b49325358fa9d3ce95cbd84727);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-x: 12px;
  background-position-y: center;
  padding-left: 40px;
  padding-right: 10px;
  border: 2pt solid #162C99;
  transition: 0s;
}

.btn--signedin:hover {
  background-image: url(/images/icon_user--blue.svg?c099446f0dfd19ed90d1bda8d466fe9c);
  color: #162C99;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2pt solid #162C99;
}

.btn--destroy--plain {
  margin-top: 20px;
  background-color: inherit;
  color: red;
}

.btn--light {
  background-color: #ECF1F2;
  color: #000000;
  border: none;
}

.btn--light:hover {
  border: 2pt solid #ffffff;
  background-color: #162C99;
  color: #ffffff;
}

.btn--search {
  width: 8em;
  position: absolute;
  left: 42em;
  top: 3em;
}

.btn--favourite, .btn--favourite--true {
  width: 24px;
  height: 22px;
  background-image: url(/images/icon_heart.svg?22ac986e96d5f78498f91b427fd14c3d);
  background-repeat: no-repeat;
}

.btn--favourite--true {
  background-image: url(/images/icon_heart-filled.svg?ddd4924c0c68c93859ea741d67dff59b);
}

.btn--nftcount {
  width: 36px;
  height: 24px;
  position: relative;
  background-image: url(/images/icon__nftcount.svg?fb43ac78d72106104fa3018b3e15d9f5);
}
.btn--nftcount span {
  width: 24px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  position: absolute;
  top: 4px;
  left: 13px;
}

.btn--center {
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 74px;
  border-radius: 8px;
  border: 2px solid #162C9933;
}

.btn--red {
  background-color: red;
  color: #ffffff;
}

.btn--green {
  background-color: green;
  color: #ffffff;
}

body {
  background-color: #f9fafd;
}

section {
  padding-left: 80px;
  padding-right: 80px;
}
section:not(:last-of-type) {
  padding-bottom: 40px;
}
section:not(:first-of-type) {
  padding-top: 40px;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.bg--2 {
  background-color: #E1E5F4;
}

.flex--spbet {
  display: flex;
  justify-content: space-between;
}

.marginb-24 {
  margin-bottom: 24px;
}
