/*20=33, 40=66, 60=99, 80=cc*/
/*25=40, 50=80, 75=bf*/
/*25=40, 50=80, 75=bf*/

$blue: #162C99;
$blue--bg: #f9fafd;
$blue--10: #e2e5f3;
$blue--20: #162C9933;
$blue--40: #162C9966;
$blue--60: #162c9999;
$blue--80: #162C99cc;


/*---------- NEUTRAL COLORS ----------*/
$white: #ffffff;
$black: #000000;
$black--20: #00000033;
$black--40: #00000066;
$black--60: #00000099;
$black--80: #000000cc;
$grey: #898C8C;
$grey--light: #ECF1F2;


$danger: #fd1212;